* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mol-lighter: white;
    --mod-primary: #0589f4;
    --dark-main: rgb(24, 24, 24);
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    max-width:  1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.card{
    background-color: var(--mool-lighter);
    text-align: center;

    & img {
        aspect-ratio: 1;
    }
}

/* #endregion Common */


/* #region Header */
header {
    text-align: center;
    background-color: var(--mol-lighter);
    
    nav {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        & a {
            padding: 0.5rem;
            text-decoration: none;
            font-weight: 400;

            &.active {
                color: var(--mod-primary);
            }
        }
    }
}

/* #endregion Header */

/* #region Main */
main {
    min-height: 60vh;
    background-color: var(--dark-main);
    color: var(--mol-lighter);
}

#comics {
    & .jumbotron {
        background-image: url('../images/jumbotron.jpg');
        height: 300px;
    }
}

#menu-main {
    & .nav-main {
        background-color: var(--mod-primary);
        height: 50px;
    
    }
}

/* #endregion Main */


/* #region Main */

footer {
    background-image: url('../images/footer-montagne-bottom.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    ul {
        list-style: none;
        & a{
            text-decoration: none;
        }
    }
}

/* #endregion Main */